/*style the navbar*/
.navbar a.active {
    background-color: #0407aa;
    color: white;
  }
.navbar {
    background-color: rgb(8, 8, 8);
    overflow: hidden;
  }
  
  .navbar a {
    padding: 10px 16px;
    float: right;
    color: #f2f2f2;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
.navbar .logo {
    float: left;
}

/*style the gallery-section*/
.Gallery {
  display: flex;
  align-items: center;
  
}
.Gallery div {
   border: 1px solid #ddd;
   padding: 7px;
   align-items: center;
   margin-left: 10px;
}

/*style for the contact form*/
input[type=text] {
  border: 2px solid rgb(8, 1, 1);
  border-radius: 4px;
  width: 100%;
  height: 50px;
}
#subject{
  height: 200px;
  border: 2px solid rgb(5, 0, 0);
  border-radius: 4px;
  width: 100%;
}

/*style the paragraphs*/
p{
  text-align: center
}

/*footer style */
.footer {
    background-color: rgb(2, 2, 2);
    position: bottom;
    padding: 10px 16px;
    float: center;
    color: #f2f2f2;
    font-size: 17px;
}